extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/users", method="get")
    .form-group
      label(for="email") Correo Electrónico
      input#email.form-control(type="email", name="email")
    .form-group
      label(for="password") Contraseña
      input#password.form-control(type="password", name="password")
    button(type="submit") Enviar